// doc details
// can set mainScript 
// to run from a repo execute
//  nextflow run ashleethomson/nextflowTutorial --help
manifest {
    name = 'ashleethomson/nextflowTutorial'
    author = 'Ashlee Thomson'
    homePage = 'www.bioinformaticsworkbook.org'
    description = 'nextflow bash tutorial'
    mainScript = 'main.nf'
    version = '1.0.0'
}


params {
    query = "$PWD/input.fasta"
    dbDir = "$PWD/DB/"
    dbName = "blastDB"
    threads = 2
    outdir = "out_dir"
    outFileName = "input.blastout"
    options = "-evalue 1e-3"
    outfmt = "'6'"
    app = "blastn"
    help = false
    chunkSize = 1
}

// outputs a detailed timeline report
timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

// outputs a detailed execution report
report {
  enabled = true
  file = "$params.outdir/report.html"
}

// set default executor parameters
// e.g. queueSize to be no more than 100 jobs
// e.g. submission rate of no more than 10/sec
// only active if we choose a non-local executor
executor {
  queueSize = 100
  submitRateLimit = '10 sec'
}

// loads different settings depending on the profile
profiles {
  slurm { includeConfig './configs/slurm.config' }
}